#define WIFI_HOSTNAME "DNS HOSTNAME"
#define WIFI_SSID "WIFI SSID"
#define WIFI_PASSWORD "WIFI PASSWORD"
#define MQTT_SERVER "DNS OR IP-ADDRESS OF MQTT SERVER"
#define MQTT_PORT ENCRYPTED PORT 8883 OR UNENCRYPTED 1883 WITHOUT QUOTES
#define MQTT_USERNAME "MQTT USERNAME"
#define MQTT_PASSWORD "MQTT PASSWORD"
#define MQTT_ID "MQTT IDENTIFIER"
